{# importa e utiliza o arquivo layout.html #}
{% extends "layout.html" %}

{# Cria uma variável pageId #}
{% set pageId = "page-home" %}

{# Bloco de estilos #}
{% block styles %}
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block content %}
{# Bloco de conteúdo #}
    <div class="content">
        <header>
            <img src="assets/icons/logo.svg" alt="Logomarca">
            <a href="register"><span></span>Cadastre um ponto de coleta</a>
        </header>

        <main>
            <!-- 
                Utilizando variáveis no HTML através do nunjucks 
                <h1> {{ title }} </h1>
            -->
            <h1> Seu marketplace de coleta de resíduos </h1>

            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>

            <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>
        </main>
    </div>
{% endblock content %}
    
{# Bloco do modal #}
{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{# Bloco de scripts #}
{% block scripts %}
    <script src="scripts/index.js"></script>
{% endblock scripts %}

