{# importa e utiliza o arquivo layout.html #}
{% extends "layout.html" %}

{# Cria uma variável pageId #}
{% set pageId = "page-search" %}

{% block title %}
    <title>Listagem dos pontos de coleta</title>
{% endblock title %}

{# Bloco de estilos #}
{% block styles %}
    <link rel="stylesheet" href="styles/search.css">
{% endblock styles %}

{# Bloco de conteúdo #}
{% block content %}
    <div id="page-search">
        
            <!-- Pegando um arquivo separado através do nunjucks -->
            {% include "partials/page-header.html" %}

            <main>
                <h3> 2 Pontos </h3> encontrados
            
                <div class="cards">
                    <div class="card">
                        <img src="https://lh3.googleusercontent.com/HOnppISRn2zCbaePkXR2ynOQM26kyz8GgtGAjV2gjHHqECtlTHzgSiQK6_D9rniYtMbFbKLJWuHb31Y1-qviPKPwh6U=s9999" alt="Colectoria">
                        <h1>Colectoria</h1>
                        <h2>Componentes Eletrônicos, Lâmpadas</h2>
                        <p>
                            Uberaba, Minas Gerais <br>
                            Avenida da Saudade, Jardim Uberaba <br>
                            Nº 253
                        </p>
                    </div>

                    <div class="card">
                        <img src="https://www.aparasdepapelsaojorge.com.br/imagens/onde-tem-empresa-de-reciclagem-papelao.jpg" alt="Papersider">
                        <h1>Papersider</h1>
                        <h2>Papéis e Papelão</h2>
                        <p>
                            Uberaba, Minas Gerais <br>
                            Rua Alfonso Miguel, Abadia <br>
                            Nº 964
                        </p>
                    </div>
                </div>
            </main>

            <footer>
                <a href="register"><span></span>Cadastre um novo ponto de coleta</a>
            </footer>
    </div>
{% endblock content %}
    
{# Bloco de scripts #}
{% block scripts %}
    <script src="scripts/register.js"></script>
{% endblock scripts %}
