{# importa e utiliza o arquivo layout.html #}
{% extends "layout.html" %}

{# Cria uma variável pageId #}
{% set pageId = "page-search" %}

{% block title %}
    <title>Listagem dos pontos de coleta</title>
{% endblock title %}

{# Bloco de estilos #}
{% block styles %}
    <link rel="stylesheet" href="styles/search.css">
{% endblock styles %}

{# Bloco de conteúdo #}
{% block content %}
    <div id="page-search">
        
        <!-- Pegando um arquivo separado através do nunjucks -->
        {% include "partials/page-header.html" %}

        <main>

            {% if total > 0 %}
                <h3> {{total}} Pontos </h3> encontrados
            
                <div class="cards">

                    {# Pegando os valores do banco de dados com uma estrutura de repetição #}
                    {% for place in places %}
                        <div class="card">
                            <img src="{{place.image}}" alt="{{place.name}}">
                            <h1>{{place.name}}</h1>
                            <h2>{{place.items}}</h2>
                            <p>
                                {{place.city}}, {{place.state}} 
                                <br>
                                {{place.address}} 
                                <br>
                                {{place.address2}}
                            </p>
                        </div>
                    {% endfor %}
    
                </div>

            {%else%}
                <h3>Nenhum ponto de coleta foi encontrado na sua região</h1>

            {% endif %}

            
        </main>

        <footer>
            <a href="register"><span></span>Cadastre um novo ponto de coleta</a>
        </footer>
    </div>
{% endblock content %}
    
{# Bloco de scripts #}
{% block scripts %}
    <script src="scripts/register.js"></script>
{% endblock scripts %}
