<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dos pontos de coleta</title>

    <link rel="shortcut icon" href="assets/icons/logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/responsive.css">

</head>

<body>
    <div id="page-search">
        
            <header>
                <a href="/"><img src="assets/icons/logo.svg" alt="Logomarca"></a>
                <a href="/"><span></span>Voltar para a home</a>
            </header>

            <main>
                <h3> 2 Pontos </h3> encontrados
            

                <div class="cards">
                    <div class="card">
                        <img src="https://lh3.googleusercontent.com/HOnppISRn2zCbaePkXR2ynOQM26kyz8GgtGAjV2gjHHqECtlTHzgSiQK6_D9rniYtMbFbKLJWuHb31Y1-qviPKPwh6U=s9999" alt="Colectoria">
                        <h1>Colectoria</h1>
                        <h2>Componentes Eletrônicos, Lâmpadas</h2>
                        <p>
                            Uberaba, Minas Gerais <br>
                            Avenida da Saudade, Jardim Uberaba <br>
                            Nº 253
                        </p>
                    </div>

                    <div class="card">
                        <img src="https://www.aparasdepapelsaojorge.com.br/imagens/onde-tem-empresa-de-reciclagem-papelao.jpg" alt="Papersider">
                        <h1>Papersider</h1>
                        <h2>Papéis e Papelão</h2>
                        <p>
                            Uberaba, Minas Gerais <br>
                            Rua Alfonso Miguel, Abadia <br>
                            Nº 964
                        </p>
                    </div>
                </div>
            </main>

            <footer>
                <a href="register"><span></span>Cadastre um novo ponto de coleta</a>
            </footer>
    </div>

    <script src="scripts/register.js"></script>
</body>
</html>

