@media(max-width:900px) {
	#page-home {
		background-position-x: 70vw;
    }

	#page-home .content {
		align-items: center;
		text-align: center;
    }

	#page-home header a {
		position: absolute;
		bottom: -10vh;
		left: 50%;
        transform: translateX(-50%);
        margin-bottom: 5vh;
    }

	#page-home main {
		align-items: center;
	}
	
	#page-search .cards {
		grid-template-columns: 1fr;
	}

	#page-search .card img {
		width: 350px;
		height: 200px;
	}

	#page-register .field-group {
		flex-direction: column;
	}

	#page-register .field-group .field {
		margin-right: 0px;

		max-width: 100%;
	}

	#page-register form {
		min-width: 400px;
	}

	#page-register header a span {
		margin-left: 3em;
	}

	#page-register .items-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media(min-width: 2200px) {
	#page-home {
		background-position-x: 45vw;
    }
}

@media(max-height: 600px) {
	#page-home {
		background-position-y: 100px;
    }
}